
BODY  {
	off_font-size : 10pt;
	font-style : normal;
	text-decoration : none;
	color : #000000;
	background: #dddddd;	
	font-family : Lucida, Helvetica, Arial, sans-serif;
}

P  {
	off_font-size : 10pt;
	font-style : normal;
	text-decoration : none;
	color : #000000;
	background: #dddddd;	
	font-family : Lucida, Helvetica, Arial, sans-serif;
}

SMALL {
	off_font-size: 8pt;
	font-family : Lucida, Helvetica, Arial, sans-serif;
	color : #000000;
}

H1  {
	off_font-size : 18pt;
	text-decoration : none;
	color : #000000;
	font-style : normal;
}

H2	{
	off_font-size : 12pt;
	font-weight : bold;
	color : #000000;
}

H3	{
	off_font-size : 10pt;
	font-weight : bold;
	color : #000000;
}

TD  {
	off_font-size : 10pt;
	font-style : normal;
	text-decoration : none;
	color : #000000;	
	font-family : Lucida, Helvetica, Arial, sans-serif;
}

A:      {
	text-decoration: none; 
	color: 0000ff; 
}


A:link  {
	text-decoration : none;
	color : #0000ff;
	font-weight : normal;
	font-family : "Lucida", "Helvetica", "Arial", sans-serif;
	off_font-size: 10pt;
}

A:hover  {
	text-decoration : underline;
	color : #0000ff;
	font-weight : normal;
	off_font-size: 10pt;
}


A:visited  {
	text-decoration : none;
	color : #0000ff;
	font-weight : normal; 
	off_font-size: 10pt;
}


A:active  {
	text-decoration : underline;
	color : #dd3333;
	font-weight : normal;
	off_font-size: 10pt;
}


