<table width="100%" bgcolor="bbbbbb">

<tr>
	<td width="30%" align=left><a href="javascript:history.back()">Back</a></td>
	<td width="40%" align=center><a href="../../codedoc.html">AAM-API documentation</a></td>
	<td width="30%" align=right><a target=_top href="http://www.imm.dtu.dk/~aam/">The AAM-Site</a></td>
</tr>
</table>	
</body>