
<table width="100%">
<tr>
	<td width="30%" align=left><a href="javascript:history.back()">Back</a></td>
	<td width="40%" align=center>DIVA Reference Manual</td>
	<td width="30%" align=right><a target=_top href="http://www.imm.dtu.dk/~diva/">The DIVA-Site</a></td>
</tr>
</table>	
</body>